.test1{
    margin: 0px;
    padding: 0px;
    width:160px;
    position: absolute;
    top: 90px;
    left: -5px;
    border-radius: 100%;
    border-style: dashed;
    display: flex;
}
.test2{
    margin: 0px;
    padding: 0px;
    width:160px;
    position: absolute;
    top: 230px;
    left: -5px;
    border-radius: 100%;
    border-style: dashed;
    display: flex;
}

.test3{
    margin: 0px;
    padding: 0px;
    width:160px;
    position: absolute;
    top: 440px;
    left: -5px;
    border-radius: 100%;
    border-style: dashed;
    display: flex;
}
